* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    width: 760px;
    height: 760px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#section {
    flex-grow: 1;
    display: flex;
}


.square{
    flex-grow: 1;
    border: solid black 1px;
}